<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewActivity</title>
    <style>
        body{
            background-color:black;
            color:white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Add New Movie</h3>

            </div>
            <div class="col-3">
                <a href="dashboard" class="mr-3">Home</a>
                <a href="logout">Logout</a>
            </div>

        </div>
        <hr class="bg-dark">
        <br>
        @model Movie


        <form asp-action="AddMovie" method="post">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Title"></span>
                        <label for="exampleInputEmail1" asp-for="Title">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Actor1"></span>
                        <label for="exampleInputEmail1" asp-for="Actor1">Actor 1</label>
                        <input type="text" class="form-control" asp-for="Actor1">
                    </div>

                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Actor3"></span>
                        <label for="exampleInputEmail1" asp-for="Actor3">Actor 3</label>
                        <input type="text" class="form-control" asp-for="Actor3">
                    </div>
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Year"></span>
                        <label for="exampleInputEmail1" asp-for="Year">Year</label>
                        <input type="text" class="form-control" asp-for="Year">
                    </div>



                </div>


                <div class="col-4">
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Category"></span>
                        <label for="exampleFormControlSelect1" asp-for="Category"></label>
                        <select class="form-control" id="exampleFormControlSelect1" asp-for="Category">
                            <option>Action</option>
                            <option>Comedy</option>
                            <option>Drama</option>
                            <option>Horror</option>
                            <option>Scifi</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Actor2"></span>
                        <label for="exampleInputEmail1" asp-for="Actor2">Actor 2</label>
                        <input type="text" class="form-control" asp-for="Actor2">
                    </div>
                    <div class="form-group">
                        <span class="d-block text-warning" asp-validation-for="Director"></span>
                        <label for="exampleInputEmail1" asp-for="Director">Director</label>
                        <input type="text" class="form-control" asp-for="Director">
                    </div>

                </div>
                <div class="form-group col-10">
                    <span class="d-block text-warning" asp-validation-for="Description"></span>
                    <label for="exampleFormControlTextarea1" asp-for="Description">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        asp-for="Description"></textarea>
                </div>
            </div>


            <button type="submit" class="btn btn-success">Add movie</button>
        </form>


    </div>
    </div>
</body>

</html>